<body style="font-family: Helvetica, sans-serif">
    <div style="background-color: #8bc658; color: white; padding: .3em .4em; font-size: 30px; font-weight: bold">
        data<span>.</span>gov<span>.</span>uk
    </div>

    <div style="padding: 0 10px; font-size: 14px">
        <div style="background-color: #eee; padding: 10px; margin-top: 10px">
        This email is sent from an un-attended account.  If you need help please email
        <a href="mailto:team@data.gov.uk">Support</a>
        </div>

        <h2>Data update required</h2>

        <p>
            Your dataset <strong><a href="https://test.data.gov.uk/dataset/{{dataset.name}}">'{{dataset.title}}'</a></strong>, published by <strong>'{{dataset.organization.title}}'</strong> is due an update in the next 7 days.
        </p>

        <p>
            To update your dataset you can:

            <ul>
                <li>reply to this email including the URL to the data file, or</li>
                <li>if the file is less than 5Mb in size, you can attach it to your reply, or</li>
                <li>you can <a href="https://test.data.gov.uk/dataset/{{dataset.name}}">visit the dataset</a> and manually add the new entry</li>
            </ul>
        </p>
    </div>
</body>

